@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #0060a3;
  --foreground: white;
}

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #f0ebd7;
    --foreground: #ededed;
  }
}

button {
  font-family: Tahoma;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Arial, sans-serif;
  border: 20px;
  border-color: black;
  /* margin: 20px; */
  margin: 0;
  min-height: 100vh;

  background-color: #0f0f0f;

  background-image: repeating-conic-gradient(#161616 0% 25%, #1d1d1d 0% 50%);

  background-size: 16px 16px;
}
/**/
/* header { */
/*   display: flex; */
/*   justify-content: center; */
/*   position: sticky; */
/*   top: 0; */
/*   background: grey; */
/* } */
