# Virtual environment created by uv
.venv/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
*.bin

# OS artifacts
.DS_Store

# Logs
*.log
uvicorn.log

# Artifacts
cv.md
embeddings.json
